
            .item1 {
                background-color: #FFFFFF;
                #gradient{
                    background: linear-gradient(0deg, #16202A, #FFFFFF);
                }
            }

          
            .item2 {
                background-color: #C0D4DF;
                #gradient{
                    background: linear-gradient(0deg, #297C97, #C0D4DF);
                }
            }

          
            .item3 {
                background-color: #297C97;
                #gradient{
                    background: linear-gradient(0deg, #075571, #297C97);
                }
            }

          
            .item4 {
                background-color: #075571;
                #gradient{
                    background: linear-gradient(0deg, #D4D9D5, #075571);
                }
            }

          
            .item5 {
                background-color: #16202A;
                #gradient{
                    background: linear-gradient(0deg, #075571, #16202A);
                }
            }

          